.EditList {
}
.EditList_body {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;

  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
}
.EditList_samples {
  list-style: none;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.EditList_sample {
  margin: 5px;

  cursor: pointer;
}
