html,
body {
  height: 100%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2c3e50;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

// AndroidのPull to Refreshが発生しないようにする
// https://qiita.com/zeriyoshi/items/d73d6712400d75dc8bea
html {
  overflow-y: hidden;
}
body {
  overflow: auto;
}
