/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1_head {
  background-image: url(head.png);
  background-position: 0px 0px;
  width: 150px;
  height: 200px;
}
.icon-2_head {
  background-image: url(head.png);
  background-position: -150px 0px;
  width: 150px;
  height: 200px;
}
.icon-3_head {
  background-image: url(head.png);
  background-position: -300px 0px;
  width: 150px;
  height: 200px;
}
.icon-4_head {
  background-image: url(head.png);
  background-position: 0px -200px;
  width: 150px;
  height: 200px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-1_head {
    background-image: url(head@2x.png);
    background-size: 450px 400px;
  }
  .icon-2_head {
    background-image: url(head@2x.png);
    background-size: 450px 400px;
  }
  .icon-3_head {
    background-image: url(head@2x.png);
    background-size: 450px 400px;
  }
  .icon-4_head {
    background-image: url(head@2x.png);
    background-size: 450px 400px;
  }
}
